<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.name.present? %>
    <h1>Welcome to GoFoodie.com, <%= @user.name %></h1>
    <% end %>
    <p>
      You account have been successfully created. Order more, get obese and create account on our new platform "GoMedicines".
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
