<h1>Search Results</h1>

<h2>Restaurants</h2>
<% if @restaurant_results  %>
  <ul>
    <% @restaurant_results.each do |restaurant| %>
      <li>
        <h3><%= restaurant.name %></h3>
        <% if restaurant.image.present? %>
          <p><%= image_tag(restaurant.image, style: 'width: 100px; height: 100px;' , alt: "#{restaurant.name} Logo") %></p>
        <% else %>
          <p>No logo available</p>
        <% end %>
        <%= link_to 'Check Food', users_restaurant_path(restaurant.id), class: "btn btn-primary" %> 
      </li>
    <% end %>
  </ul>

<% else %>
  <p>No restaurants found</p>
<% end %>